<div class="hud">
  <p>main-menu works!</p>
  <button mat-raised-button smitd-click-sound color="primary"[routerLink]="[ '/game' ]">Strategy</button>
  <button mat-raised-button smitd-click-sound color="primary"[routerLink]="[ '/adam-longer' ]">AdamLonger</button>
  <button mat-raised-button smitd-click-sound color="primary"[routerLink]="[ '/caspien' ]">Caspien</button>
  <button mat-raised-button smitd-click-sound color="primary"[routerLink]="[ '/catchy' ]">Catchy</button>
  <button mat-raised-button smitd-click-sound color="warn" (click)="fight()">Fight</button>
</div>
